body {
  background-color: #333;
}

body>div>header {
  display: none;
}
body>div>section {
  float: initial;
}


h1, h2 {
  color: #fff;
}

p {
  color: #ddd;
  font-size: 20px;
}

a {
  color: #0C3;
}

a:hover {
  color: #3F6;
}
