body {
  background-color: #333;
}

body>div>header {
  display: none;
}

body>div>section {
  float: initial;
  width: auto;
}

.wrapper, footer {
  width: auto;
}

body>div>footer>p>small {
  display: none;
}

.small {
  font-size: 14px;
}

h1 {
  color: #fff;
}

h2 {
  color: #ccc;
}

p {
  color: #ddd;
  font-size: 20px;
}

a {
  color: #0C3;
}

a:hover, a:focus {
  color: #3F6;
  font-weight: normal;
}

a.hidden, a.hidden:hover, a.hidden:focus {
  color: #ddd;
  cursor: default;
}
