body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  color: #fff;
  background-color: #000;
  content: 'If you\'re using this, please remove the following @import as it should no longer be used:\00000a@import(https://leafyluigi.github.io/CVv6-CustomCSS/Custom-CSS.css)\00000aYou can do so by going to the theme file (Settings > Themes > Open Themes Folder) and removing the line containing the link above.\00000aYou can access settings via CTRL + Comma (,) or CMD + Comma (,) on Mac.';
}
.theme-light body::before {
  color: #000;
  background-color: #fff;
}